.logo {
    max-width: 150px;
}

.topo {
    padding: 20px 0;
    background-color: #fff;
}

.foto-perfil {
    max-width: 300px;
    border-radius: 50%;
    border: solid rgb(78, 78, 214);
}

.icone {
    max-width: 120px;
}

.section-padding {
    padding: 85px 0;
}

.foto-galeria{
    max-width: 260px;
}

.social-media{
        max-width: 60px;
}

.bg-cinza{
    background-color: rgb(150, 149, 149);
}